.card {
	align-items: center;
	border: 2px solid #282c34;
	background-color: white;
	border-radius: 5px;
	color: #282c34;
	display: flex;
	justify-content: center;
	min-height: 3rem;
}

.card.dragging {
	background-color: lightblue;
}
