.card {
	border: 2px solid #282c34;
	border-radius: 5px;
	color: #282c34;
}

.quote-item {
	width: 200px;
	border: 1px solid gray;
	margin-bottom: 2px;
	background-coilor: lightblue;
	padding: 2px;
}
