.app-header {
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.app-nav-home {
	padding: 0 1rem;
	display: flex;
	align-items: center;
}

.app-nav-controls {
	display: flex;
	justify-content: space-around;
	width: 25%;
}

.app-nav-controls ul {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
